* {
  font-family: "Lato";
}

/* Color */
:root {
  --black: #0f0f0f;
  --green: #1a5d1a;
  --yellow: #f1c93b;
  --gray: #969696;
}

/* ===element=== */

/* Font Color */

.font-dark {
  color: #0f0f0f;
}

.font-green {
  color: #1a5d1a;
}

.font-yellow {
  color: #f1c93b;
}

.font-gray {
  color: #969696;
}

/* Letter Spacing */

.spacing-0 {
  letter-spacing: normal;
}

.spacing-1 {
  letter-spacing: -8px;
}

.spacing-2 {
  letter-spacing: -6px;
}

.spacing-3 {
  letter-spacing: -1px;
}

/* Font Weight */

.light {
  font-weight: 300;
}

.reguler {
  font-weight: 700;
}

.bold {
  font-weight: 900;
}

.fblack {
  font-weight: 1200;
}

/* navbar */
.navbar {
  background-color: white;
}

.logo {
  font-weight: 900;
  color: #1a5d1a;
}

.active {
  position: relative;
  padding: 0 6px;
  color: #0f0f0f;
}

.active:after {
  content: "";
  position: absolute;
  background-color: #1a5d1a;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.active:hover:after {
  width: 100%;
}

/* Home */
.home {
  height: 90vh;
  background-image: url(asset/foto/FotoHome.png);
  background-repeat: no-repeat;
  background-size: 520px;
  background-position: bottom;
}

.home .btn {
  border-radius: 0%;
  padding: 5px 28px;
}

.hire {
  background-color: #f1c93b;
  color: #1a5d1a;
}

.hire:hover {
  color: #f1c93b;
  background-color: #1a5d1a;
  border-color: #1a5d1a;
  transition: all ease-in-out 0.3s;
}

.cv {
  background-color: #f1c93b;
  color: #1a5d1a;
}

.cv:hover {
  color: #f1c93b;
  background-color: #1a5d1a;
  border-color: #1a5d1a;
  transition: all ease-in-out 0.3s;
}

/* About */

.background {
  background: linear-gradient(to right, #f1c93b 50%, #1a5d1a 50%);
}

.judul {
  font-size: 108px;
}

.judul2 {
  font-size: 82px;
}

.follow img {
  width: 42px;
}

.tools img {
  width: 178px;
}

/* project */

.see {
  font-size: 82px;
}

.project .kartu {
  border-radius: 8px;
  background-color: white;
  filter: drop-shadow(1px 3px 7px rgba(22, 87, 30, 0.1)) drop-shadow(4px 12px 12px rgba(22, 87, 30, 0.09)) drop-shadow(10px 26px 17px rgba(22, 87, 30, 0.05)) drop-shadow(17px 46px 20px rgba(22, 87, 30, 0.01))
    drop-shadow(27px 73px 22px rgba(22, 87, 30, 0));
  padding: 10px 10px 0 10px;
  transition: ease-in-out 0.2s;
}

.project .kartu:hover {
  filter: drop-shadow(1px 3px 7px rgba(22, 87, 30, 0.15)) drop-shadow(4px 11px 12px rgba(22, 87, 30, 0.13)) drop-shadow(9px 25px 16px rgba(22, 87, 30, 0.08)) drop-shadow(17px 45px 19px rgba(22, 87, 30, 0.02))
    drop-shadow(26px 70px 21px rgba(22, 87, 30, 0));
}

.kartu .head {
  padding: 2px 0;
}

.kartu .arrow {
  opacity: 0;
  transition: ease-in-out 1s;
  margin-right: 100px;
}

.kartu:hover .arrow {
  opacity: 1;
  animation-duration: 0.3s;
  margin-right: 10px;
}

/* Contact */

.contact-right {
  background-color: #f1c93b;
  height: 32rem;
  border-radius: 10px;
}

.bottom-cont {
  margin-top: 170px;
}

footer {
  background-color: #1a5d1a;
}

.halaman-ul {
  display: flex;
  gap: 20px;
}

.halaman-ul a {
  color: #f1c93b;
  font-weight: 700;
}

.halaman-ul .nav-link:hover {
  color: #fcc912 !important;
}

.form-check-input:checked {
  background-color: green !important;
  border: 0;
}

.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
  color: black;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0.1rem rgba(0, 128, 0, 0.363) !important;
}

@media screen and (max-width: 576px) {
  .about-right {
    margin: 0 !important;
  }

  .footer {
    flex-direction: column;
  }

  .casep {
    margin-bottom: 8px !important;
  }

  .used {
    font-size: 19px !important;
  }

  .bottom-cont {
    margin-top: 180px !important;
  }
}

@media screen and (max-width: 992px) {
  /* Navbar */

  .mobile-nav {
    position: sticky;
  }

  .nav-logo {
    display: none;
    margin: 0 !important;
  }

  .nav-link {
    margin-bottom: 8px;
  }

  /* Home */
  .home {
    flex-direction: column;
    height: 90vh;
    text-align: center !important;
    justify-content: end;
    background-size: 420px;
  }

  .home .home-mobile {
    justify-content: space-between !important;
    text-align: left;
    width: 100%;
  }

  .fons {
    font-size: 20px !important;
  }

  .home-left {
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 3px;
    color: white;
    backdrop-filter: blur(5px);
  }

  .button-home {
    margin-top: 10px;
  }

  .home-right {
    display: none;
  }

  .home .text-end {
    text-align: center !important;
  }

  .follow img {
    width: 32px;
  }

  /* About */
  .xabout {
    height: 100vh !important;
    background-color: white;
  }

  .background {
    background: #f1c93b;
  }

  .about {
    flex-direction: column;
    justify-content: center;
  }

  .about-right {
    display: none !important;
  }

  .about-mobile {
    background-color: #1a5d1a;
  }

  .d-none {
    display: flex !important;
  }

  .d-none .p {
    margin: 0;
  }

  /* Contact */

  .contact {
    flex-direction: column-reverse;
  }

  .button-message {
    height: max-content !important;
    margin-bottom: 30px;
  }

  .see {
    font-size: 58px !important;
    letter-spacing: -3px;
  }

  .bottom-cont {
    margin-top: 200px !important;
  }

  /* Footer */
}
